
body{
    background-color: #ecfbff;
}

/* #contenedor{
    box-shadow: 5px 5px 15px black;
} */

h1, h2, h4, h3, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

/* ================================ HEADER ================================  */
.navbar-brand img {
    max-width: 150px;
}

/* NAVBAR */
.bg-light {
    background-color: #003177!important;
}

.navbar-light .navbar-brand {
    color: white;
}

.menu svg{
    width: 30px;
    height: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar>.container-fluid{
    justify-content: flex-end;
}

.nav-item{
    margin-left: 20px;
    /* font-family: 'Montserrat', sans-serif; */
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #003177;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fbc717;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #fbc717;
}

.dropdown-principal:focus, .dropdown-principal:hover {
    background-color: #003177;
}

.separar-letra{
    letter-spacing: 1px;
}

.dropdown-principal svg{
    vertical-align: text-top;
}

/* ================================ JUMBOTRON ================================ */
.jumbotron{
    color: white;
}

.img-bg {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

.img-bg:before {
	content:'';
	position: absolute;
    top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}

.principal{
    margin-right: 0;
    padding-right: 20px;
    position: relative;
}

p, li{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

/* de todas las paginas */
.info ul{
    margin-top: 15px;
}

.info-cal ul, .info-cal2 ul, .info-mant ul{
    margin-bottom: 0px;
}

.contacto-mant{
    margin-top: 140px;
}

.contacto-item{
    display: flex;
    align-items: baseline;
}

.contacto h4 {
    color: #fbc717;
}

.contacto p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
}

/* ================================ JUMBOTRON END ================================ */

/* ================================ MAGNITUDES ================================ */
.magnitudes{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #003177;
    background-color: #ecfbff;
}

.magnitudes ul{
    text-align: initial;
    /* font-size: 25px;
    margin-left: 270px; */
}

.mag-img img{
    /* height: 120px; */
    margin-right: 20px;
}

.mag-img .btn-enviar{
    margin: 20px 0;
    text-align: left;
    /* margin-left: 40px; */
}

.mag-img .btn-enviar input{
    width: 70%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: #fbc717;
    color: white;
    border: outset;
    border-width: thick;
    border-radius: 20px;
    font-weight: bold;
    /* height: 50px;
    font-size: 20px; */
}

.content-mag{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.item-mag{
    margin-bottom: 20px;
}

.item-mag .icono-chico{
    max-height: 38px;
}

.item-mag .icono-ancho{
    max-height: 35px;
}

.item-mag .icono-ancho2{
    max-height: 28px;
}

.icon-gradient {
    position: relative;
    width: 69px;
    height: 69px;
    /* line-height: 75px; */
    border-radius: 50%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 28px; */
    z-index: 1;
}

.gradient-1 {
    /* background-image: linear-gradient(#6240c8 0%, #a145fe 100%); */
    background-color: #003177;
}

.icono-mag{
    line-height: 65px;
}

.texto-mag{
    margin-top: 15px;
}

.mag-sub{
    background-color: #0095d9;
}

.mag-sub-ac{
    display: flex;
    margin-top: 20px;
}

.icon-sub{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1;
}

.texto-sub{
    align-self: center;
    margin-left: 10px;
}

.texto-sub h5{
    margin-bottom: 0px;
}

/* #listaCalibracion{
    position: relative;
    left: 38%;
    text-align: left;
}

#contenedorLaboratorio{
    text-align: right;
}

#sectionCalibracion{
    background-color: #ecfbff;
    margin-top: 20px;
}
#circleExterno {
    width: 50px;
    height: 50px;
    background-color: #0095d9;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#circleInterno{
    width: 40px;
    height: 40px;
    background-color: #0095d9;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
} 
#itemTitulo{
    font-size: larger;
    font-weight: bold;
    color: #003177;
    text-align: center;
}
#ItemSubTitulo{
    position: relative;
    text-align: center;
}

#itemMag{
    padding: 25px;
}
*/

/* ================================ MAGNITUDES END ================================ */

/* ================================ MANTENIMIENTO Y REPARACION ================================ */
.body-mant{
    background-color: white;
}

.seccion{
    display: flex;
    margin: 20px 0;
}

.seccion img{
    max-height: 45px;
}

.icono{
    line-height: 65px;
    text-align: center;
}

.texto{
    width: 93%;
    margin-left: 20px;
}

.texto h2{
    color: #0095d9;
    font-weight: bold;
}

.texto p{
    color: #003177;
    text-align: justify;
}

/* ================================ MANTENIMIENTO Y REPARACION END ================================ */


/* ================================ VENTAS ================================ */

/* ================================ VENTAS END ================================ */


/* ================================ CAPACITACIÓN ================================ */
.tipos-cursos{
    background-color: #0095d9;
    color: white;
}

.tipos-cursos ul{
    display: flex;
    justify-content: space-between;
}

/* _________ */

.catalogo-cursos{
    background-color: white;
}

.cursos-col img{
    width: 70%;
}

.catalogo-cursos, .cursos-col{
    padding: 0;
}

.cursos-row{
    margin: 0;
}

.cursos-col2 .row{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.cursos-col2 .row .col{
    padding: 0;
    margin: 0;
}

.cursos-marginb2{
    margin-bottom: 40px;
}

.cursos-col h3, .cursos-col h2{
    color: #003177;
}

.cursos-col h4{
    color: #0095d9;
}

.cursos-sec{
    margin-bottom: 30px;
}

.cursos-sec img, .vineta-acc img{
    width: 20px;
    height: 20px;
}

.vineta-acc img{
    vertical-align: -webkit-baseline-middle;
}

.cursos-sec .titulo-sec{
    display: flex;
    align-items: baseline;
    padding: 0;
    /* margin-bottom: 10px; */
}

.cursos-sec .titulo-sec h3{
    padding: 0;
    margin-left: 15px;
    margin-bottom: 0;
}

.cursos-sec ul{
    list-style: none;
    color: #0095d9;
}

.cursos-sec .row .col1{
    padding-left: 35px;
}

.contacto-cap2 .p-experiencia{
    margin-left: 0;
    /* font-size: 30px; */
}

/* _______________________________________ */
/* #tablaCursos{
    width: 100%;
    font-size: 20px;

}
#titulosTablaCursos{
    font-size: larger !important ;
    font-weight: 700 !important;
    color: #092596 !important;
    height: 60px !important;
}
#tablaCursos tr td {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    color: #4487cd;
    font-weight: 400;
}
#sectionCursos{
    background-color: #0095d9;
    color: white;
    font-size: large;
    font-weight: 700;
    margin-top: -5px;
} */

#tableCotizacionDeCurso{
    width: 100%;
}
#rowBotononesCotizacionDeCurso{
    text-align: center;
    margin-bottom: 15px;
}
#rowTableCotizacionDecurso{
    text-align: center;
}
#cotizacionDeCurso{
    background-color: #4b96da;
    height: 250px;
    padding: 15px;
}
#inputCotizaicon{
    background: none;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}
#inputCotizaiconM{
    background: none;
    border: none;
    border-bottom: 1px solid;
    width: 50%;
}
#inputCotizaiconP{
    background: none;
    border: none;
    border-bottom: 1px solid;
    width: 50%;
}
#SolicitarTemario{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #fbc717;
    font-size: large;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
    margin-top: 5px;
}
#certificado{
    border-radius: 10px;
    color: white;
    background-color: #fbc717;
    font-size: large;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
    position: relative;
    left: 50%;
    transform: translate(-50%, 10px);
    
}
#solicitarCotizacion{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    font-size: large;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
}
#sectionCatalogosDeCursos{
    margin-top: 5px;
    margin-left: -5px;
    background: white;

}

/* ================================ CAPACITACIÓN END ================================ */


/* ================================ CONTACTANOS ================================ */

.img-mty{
    background-position-y: -150px;
}

.cont-mty{
    position: relative;
}

.logo{
    text-align: center;
    margin-right: 50px;
}

.logo-fondo{
    background-color: white;
    width: 530px;
    height: auto;
    border-radius: 90px;
    margin-left: auto;
    padding: 15px;
}

.logo img{
    max-height: 124px;
}

.contacto-fondo{
    background-color: white;
    color: #003177;
    width: fit-content;
    padding: 30px;
    border-radius: 20px;
}

.contacto-fondo p{
    margin-bottom: 0;
}

.contacto-mty{
    margin-top: 280px;
}

svg{
    vertical-align: baseline;
}

.img-form{
    padding-left: 0;
}

.formulario{
    padding: 150px 100px 100px 100px;
}

.formulario div{
    margin-bottom: 30px;
}

.formulario .btn-enviar input{
    width: 20%;
    margin-left: .7rem;
    background-color: #fbc717;
    color: white;
    border: outset;
    border-width: thick;
    border-radius: 20px;
    font-weight: bold;
    height: 50px;
    font-size: 20px;
}

.form-control{
    border-radius: 0.75rem;
}

.formulario p{
    font-size: 20px;
    color: #003177;
}

/* ================================ CONTACTANOS END ================================ */


/* ================================ FOOTER ================================ */

.footer-links {
    background: white;
}

.copyright-area {
    background-color: #003177;
    color: white;
}

.rowfooter{
    margin: 0;
}

.contfooter, .colfooter{
    padding: 0;
}

/* ================================ FOOTER END ================================ */


/* ================================ Whats app ================================ */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0095d9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #003177;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}
/* ================================ Whats app END ================================ */


/* #sectionContacto{
    background: white;
    padding: 10px;
} */

/* #TitutloMantenimiento{
    font-size: 30px;
    color: #0095d9;
    font-weight: 700;
}

#textoTituloMantenimiento{
    font-size: 20px;
}
#contactanos{
    height: 150px;
    background: white;
    width: 370px;
    position: relative;
    left: -100%;
    border-radius: 30px;
    color: #003177;
    padding: 10px;
    margin-top: 200px;
    padding-left: 20px;
}
#inputs{
    margin-top: 10px;
    margin-bottom: 10px;
}
#inputs2{
    margin-top: 10px;
}
#circuloMantenimiento{
    background-color: #003177;
    Width: 70px;
    align-items: center;
    position: relative;
    border-radius: 100%;
    height: 70px;
} */
