


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .bg-light{
        padding: 6px 0;
    }

    .navbar-light .navbar-brand{
        padding: 0;
    }

    .navbar-brand img{
        max-height: 30px;
    }

    .navbar-toggler {
        padding: 0 .75rem;
    }

    .navbar-light .navbar-nav .nav-link{
        font-size: 12px;
        padding: 4px;
    }

    .navbar-nav .dropdown .dropdown-menu {
        font-size: 12px;
    }

    svg {
        width: 10px;
        height: 10px;
    }

    .img-bg {
        background-position-y: -30px;
        padding: 15px 0 10px 0;
    }

    .principal {
        width: 54%;
    }

    .info-cal img, .info-cal2 img, .info-cap img, .info-mant img, .info-venta img{
        height: 65px;
    }

    .info-cal h1{
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .info-cal2 h1, .info-cap h1{
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .info-mant h1, .info-venta h1{
        font-size: 28px;
        margin-top: 20px;
    }

    .info-cal ul{
        font-size: 15px;
        margin-top: 4px;  
    }

    .info-cal2 ul{
        font-size: 13.5px;
        margin-top: 4px;  
    }

    .info-cap ul{
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 0;
    }

    .info-mant ul, .info-venta ul{
        font-size: 16px;
        margin-top: 8px;
    }

    .contacto-cal{
        margin-top: 26px;
    }

    .contacto-cal2{
        margin-top: 22px;
    }

    .contacto-cap{
        margin-top: 12px;
    }

    .contacto-mant {
        margin-top: 38px;
    }

    .contacto-cap2, .contacto-venta{
        margin-top: 20px;
    }

    .contacto-cal h4, .contacto-cal2 h4, .contacto-cap h4 {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .contacto-cap2 h4, .contacto-mant h4, .contacto-venta h4, .contacto-mty h4{
        font-size: 16px;
        margin-bottom: 4px;
    }

    .contacto-cal p, .contacto-cal2 p, .contacto-cap p {
        font-size: 13px;
        margin-left: 8px;
    }

    .contacto-cap2 p, .contacto-mant p, .contacto-venta p, .contacto-mty{
        font-size: 14px;
    }

    .contacto-cap2 .p-experiencia {
        font-size: 16px;
    }

    .magnitudes{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .titulo-mag{
        width: 68%;
        padding-left: 63px;
        padding-right: 0px;
    }

    .titulo-mag h1 {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .titulo-mag ul {
        font-size: 13px;
        margin-left: 14px;
        padding-left: 1.5rem;
    }

    .mag-img img{
        height: 65px;
        margin-right: 10px;
    }

    .mag-img .btn-enviar {
        margin: 10px 0;
    }

    #certificado{
        font-size: 10px;
        width: 64%;
        height: 32px;
        border-width: medium;
    }

    .content-mag {
        margin-top: 8px;
    }

    .item-mag{
        width: 33.33333333333333%;
        margin-bottom: 15px;
    }

    .icono-mag {
        line-height: 46px;
    }

    .icon-gradient{
        width: 50px;
        height: 50px;
    }
    
    .item-mag .icono-chico {
        max-height: 26px;
    }

    .item-mag .icono-ancho {
        max-height: 24px;
    }

    .item-mag .icono-ancho2 {
        max-height: 20px;
    }

    .texto-mag {
        margin-top: 10px;
    }

    .texto-mag h3{
        font-size: 18px;
        margin-bottom: 4px;
    }

    .texto-mag p{
        font-size: 12px;
        margin-bottom: 12px;
    }

    .mag-sub-ac{
        padding: 0 80px;
        margin-bottom: 0;
    }

    .icon-sub{
        width: 16px;
        height: 16px;
    }

    .texto-sub{
        margin-left: 6px;
    }

    .texto-sub h5{
        font-size: 12px;
    }


    .cursos-row .col-3{
        width: 24%;
    }

    .cursos-row .col-9{
        width: 76%;
    }

    .tipos-cursos{
        padding: 10px 35px;
    }

    .tipos-cursos h2 {
        margin-bottom: 4px;
        font-size: 18px;
    }

    .tipos-cursos ul{
        margin-bottom: 0;
        font-size: 14px;
    }

    .cursos-col2 {
        margin-top: 30px;
    }

    .cursos-marginb{
        margin-bottom: 5px;
    }

    .cursos-col h2{
        font-size: 18px;
    }

    .cursos-marginb2 {
        margin-bottom: 10px;
    }

    .cursos-col2 .col-8{
        width: 70%;
    }

    .cursos-col2 .col-4{
        width: 30%;
    }

    .cursos-col h4{
        font-size: 14px;
    }

    .cursos-sec {
        margin-bottom: 10px;
    }

    .cursos-sec .titulo-sec{
        margin-bottom: 2px;
    }

    .cursos-sec .titulo-sec h3{
        font-size: 16px;
        margin-left: 6px;
    }

    .cursos-sec img, .vineta-acc img{
        width: 12px;
        height: 12px;
        vertical-align: middle;
    }

    .cursos-sec .row .col1{
        padding-left: 18px;
    }

    .cont-sec ul li {
        font-size: 12px;
        margin-bottom: 2px;
    }




    .float{
        font-size: 18px;
        width: 42px;
        height: 42px;
    }

    .my-float {
        margin-top: 12px;
    }

    .footer-links {
        padding: 18px 0;
    }

    .footer-links img {
        max-height: 46px;
    }

    .copyright-area {
        padding: 6px 0;
        font-size: 9px;
    }

 }

/* laptop mas chica */
@media (min-width: 992px){

    .bg-light{
        padding: 8px 0;
    }

    .navbar-light .navbar-brand{
        padding: 0;
    }

    .navbar-brand img{
        max-height: 30px;
    }

    .navbar-toggler {
        padding: .25rem .75rem;
    }

    .navbar-light .navbar-nav .nav-link{
        font-size: 12px;
        padding: 4px;
    }

    .navbar-nav .dropdown .dropdown-menu {
        font-size: 12px;
    }

    svg {
        width: 12px;
        height: 12px;
    }

    .img-bg {
        background-position-y: -30px;
        padding: 20px 0 15px 0;
    }

    .principal {
        width: 54%;
    }

    .info-cal img, .info-cal2 img, .info-cap img, .info-mant img, .info-venta img{
        height: 70px;
    }

    .info-cal h1{
        font-size: 32px;
        margin-top: 20px;
    }

    .info-cal2 h1, .info-cap h1, .info-mant h1, .info-venta h1{
        font-size: 28px;
        margin-top: 20px;
    }

    /* .info ul{
        padding-left: 1.5rem;
    } */

    .info-cal ul, .info-cal2 ul, .info-cap ul, .info-mant ul, .info-venta ul{
        font-size: 16px;
        margin-top: 8px;
    }

    .contacto-cal, .contacto-mant {
        margin-top: 38px;
    }

    .contacto-cal2, .contacto-cap, .contacto-cap2, .contacto-venta{
        margin-top: 20px;
    }

    .contacto-cal h4, .contacto-cal2 h4, .contacto-cap h4, .contacto-cap2 h4, .contacto-mant h4, .contacto-venta h4, .contacto-mty h4{
        font-size: 16px;
        margin-bottom: 4px;
    }

    .contacto-cal p, .contacto-cal2 p, .contacto-cap p, .contacto-cap2 p, .contacto-mant p, .contacto-venta p, .contacto-mty{
        font-size: 14px;
    }

    .contacto-cap2 .p-experiencia {
        font-size: 16px;
    }

    .magnitudes{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .titulo-mag{
        width: 68%;
        padding-left: 130px;
        padding-right: 12px;
    }

    .titulo-mag h1 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .titulo-mag ul {
        font-size: 14px;
        margin-left: 42px;
        padding-left: 1.5rem;
    }

    .mag-img img{
        height: 80px;
        margin-right: 14px;
    }

    .mag-img .btn-enviar {
        margin: 20px 0;
    }

    #certificado{
        font-size: 12px;
        width: 64%;
        height: 32px;
        border-width: thick;
    }

    .content-mag {
        margin-top: 20px;
    }

    .item-mag{
        width: 25%;
        margin-bottom: 20px;
    }

    .icono-mag {
        line-height: 50px;
    }

    .icon-gradient{
        width: 55px;
        height: 55px;
    }
    
    .item-mag .icono-chico {
        max-height: 30px;
    }

    .item-mag .icono-ancho {
        max-height: 28px;
    }

    .item-mag .icono-ancho2 {
        max-height: 22px;
    }

    .texto-mag {
        margin-top: 15px;
    }

    .texto-mag h3{
        font-size: 20px;
        margin-bottom: 8px;
    }

    .texto-mag p{
        font-size: 14px;
        margin-bottom: 16px;
    }

    .mag-sub-ac{
        padding: 0 30px;
        margin-bottom: 0;
    }

    .icon-sub{
        width: 20px;
        height: 20px;
    }

    .texto-sub{
        margin-left: 6px;
    }

    .texto-sub h5{
        font-size: 14px;
    }

    .cursos-row .col-3{
        width: 25%;
    }

    .cursos-row .col-9{
        width: 75%;
    }

    .tipos-cursos{
        padding: 15px 64px;
    }

    .tipos-cursos h2 {
        margin-bottom: 6px;
        font-size: 22px;
    }

    .tipos-cursos ul{
        margin-bottom: 0;
        font-size: 18px;
    }

    .cursos-col2 {
        margin-top: 40px;
    }

    .cursos-marginb{
        margin-bottom: 10px;
    }

    .cursos-col h2{
        font-size: 22px;
    }

    .cursos-marginb2 {
        margin-bottom: 20px;
    }

    .cursos-col2 .col-8{
        width: 70%;
    }

    .cursos-col2 .col-4{
        width: 30%;
    }

    .cursos-col h4{
        font-size: 16px;
    }

    .cursos-sec {
        margin-bottom: 20px;
    }

    .cursos-sec .titulo-sec{
        margin-bottom: 2px;
    }

    .cursos-sec .titulo-sec h3{
        font-size: 20px;
        margin-left: 8px;
    }

    .cursos-sec img, .vineta-acc img{
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }

    .cursos-sec .row .col1{
        padding-left: 24px;
    }

    .cont-sec ul li {
        font-size: 16px;
        margin-bottom: 2px;
    }

    .mant-info {
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 830px;
    }

    .texto {
        margin-left: 12px;
    }

    .texto h2{
        font-size: 22px;
        margin-bottom: 4px;
    }

    .texto p{
        font-size: 16px;
        margin-bottom: 8px;
    }

    /* .img-mty{
        background-position-y: -55px;

    } */

    .logo{
        margin-right: 20px;
    }

    .logo-fondo{
        padding: 8px;
        width: 298px;
    }

    .logo img{
        height: 70px;
    }

    .contacto-mty {
        margin-top: 174px;
        margin-left: 20px;
    }

    .contacto-fondo{
        padding: 15px
    }

    .img-form {
        height: 100%;
        width: 24%;
    }

    .formulario {
        padding: 56px 50px;
    }

    .formulario .row{
        margin-bottom: 30px;
    }

    .formulario p{
        font-size: 12px;
    }

    .form-control {
        font-size: 12px;
        border-radius: 0.45rem;
    }

    .formulario .btn-enviar input{
        width: 30%;
        font-size: 12px;
        height: 30px;
    }


    .float{
        font-size: 22px;
        width: 48px;
        height: 48px;
    }

    .my-float {
        margin-top: 14px;
    }

    .footer-links {
        padding: 18px 0;
    }

    .footer-links img {
        max-height: 55px;
    }

    .copyright-area {
        padding: 6px 0;
        font-size: 10px;
    }


}

/* laptop */
@media (min-width: 1200px){
    
    .bg-light{
        padding: 8px 0;
    }

    .navbar-light .navbar-brand{
        padding-top: .3125rem;
        padding-bottom: .3125rem;
    }

    .navbar-brand img {
        max-height: 38.5px;
    }

    .navbar-toggler {
        padding: .25rem .75rem;
    }

    .navbar-light .navbar-nav .nav-link{
        font-size: 14px;
        padding: 8px;
    }

    .navbar-nav .dropdown .dropdown-menu {
        font-size: 14px;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    .img-bg {
        background-position-y: -40px;
        padding: 25px 0 20px 0;
    }

    .principal {
        width: 52%;
    }

    .info-cal img, .info-cal2 img, .info-cap img, .info-mant img, .info-venta img{
        height: 100px;
    }

    /* titulo grande */
    .info-cal h1{
        font-size: 40px;
        margin-top: 28px;
    }

    /* titulo mediano y 2 renglones */
    .info-cal2 h1, .info-cap h1, .info-venta h1{
        font-size: 32px;
        margin-top: 28px;
    }

    .info-mant h1{
        font-size: 32px;
        margin-top: 42px;
    }

    /* lista larga 5 renglones */

    /* .info ul{
        padding-left: 1.5rem;
    } */

    .info-cal ul, .info-mant ul {
        font-size: 22px;
        margin-top: 15px;
    }

    .info-cap ul{
        font-size: 22px;
        margin-top: 8px;
    }

    /* .info-cal2 ul{
        font-size: 20px;
        margin-top: 15px;
    } */

    .info-cal2 ul {
        font-size: 20px;
        margin-top: 10px;
    }

    .info-venta ul{
        font-size: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .contacto-cal {
        margin-top: 38px;
    }

    .contacto-cal2 {
        margin-top: 40px;
    }

    .contacto-cap, .contacto-cap2{
        margin-top: 10px;
    }

    .contacto-mant{
        margin-top: 67px;
    }

    .contacto-venta {
        margin-top: 8px;
    }

    /* .contacto h4 */
    .contacto-cal h4, .contacto-cap h4, .contacto-cap2 h4, .contacto-mant h4, .contacto-mty h4{
        font-size: 22px;
    }

    .contacto-cal2 h4, .contacto-venta h4 {
        font-size: 20px;
    }

    /* .contacto p, */
    .contacto-cal p, .contacto-cap p, .contacto-cap2 p, .contacto-mant p, .contacto-mty p {
        font-size: 20px;
    }

    .contacto-cal2 p, .contacto-venta p{
        font-size: 18px;
    }

    .contacto-cap2 .p-experiencia {
        font-size: 22px;
    }

    .magnitudes{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .titulo-mag{
        padding-left: 220px;
        width: 75%;
        padding-right: 12px;
    }
    
    .titulo-mag h1 {
        font-size: 35px;
        margin-bottom: 8px;
    }

    .titulo-mag ul {
        font-size: 20px;
        margin-left: 8px;
        padding-left: 1.5rem;
    }

    .mag-img img {
        height: 106px;
        margin-right: 14px;
    }

    .mag-img .btn-enviar {
        margin: 20px 0;
    }

    /* .mag-img .btn-enviar input{
        font-size: 18px;
        height: 44px;
    } */

    #certificado{
        height: 44px;
        font-size: 18px;
        width: 75%;
        border-width: thick;
    }

    .content-mag {
        margin-top: 20px;
    }

    .item-mag{
        width: 25%;
        margin-bottom: 20px;
    }

    .icono-mag {
        line-height: 65px;
    }

    .icon-gradient{
        width: 69px;
        height: 69px;
    }

    .item-mag .icono-chico {
        max-height: 38px;
    }

    .item-mag .icono-ancho {
        max-height: 35px;
    }

    .item-mag .icono-ancho2 {
        max-height: 28px;
    }

    .texto-mag {
        margin-top: 15px;
    }

    .texto-mag h3{
        font-size: 26px;
    }

    .texto-mag p{
        font-size: 16px
    }

    .mag-sub-ac{
        padding: 0 30px;
        margin-bottom: 0;
    }

    .icon-sub {
        width: 25px;
        height: 25px;
    }

    .texto-sub{
        margin-left: 10px;
    }

    .texto-sub h5{
        font-size: 17px;
    }

    .cursos-row .col-3{
        width: 25%;
    }

    .cursos-row .col-9{
        width: 75%;
    }

    .tipos-cursos{
        padding: 15px 100px;
    }

    .tipos-cursos h2 {
        margin-bottom: 6px;
        font-size: 28px;
    }

    .tipos-cursos ul{
        margin-bottom: 0;
        font-size: 24px;
    }

    .cursos-col2 {
        margin-top: 50px;
    }

    .cursos-marginb{
        margin-bottom: 14px;
    }

    .cursos-col h2{
        font-size: 26px;
    }

    .cursos-marginb2 {
        margin-bottom: 28px;
    }

    .cursos-col2 .col-8{
        width: 66.6666666667%;
    }

    .cursos-col2 .col-4{
        width: 33.3333333333%;
    }

    .cursos-col h4{
        font-size: 20px;
    }

    .cursos-sec {
        margin-bottom: 26px;
    }

    .cursos-sec .titulo-sec{
        margin-bottom: 2px;
    }

    .cursos-sec .titulo-sec h3{
        font-size: 22px;
        margin-left: 15px;
    }

    .cursos-sec img, .vineta-acc img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    .cursos-sec .row .col1 {
        padding-left: 35px;
    }

    .cont-sec ul li {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .mant-info {
        margin-top: 70px;
        margin-bottom: 70px;
        max-width: 960px;
    }

    .texto h2{
        font-size: 28px;
        margin-bottom: 8px;
    }

    .texto p{
        font-size: 20px;
        margin-bottom: 16px;
    }

    /* .img-mty{
        background-position-y: -55px;

    } */

    .logo{
        margin-right: 40px;
    }

    .logo-fondo{
        padding: 15px;
        width: 426px;
    }

    .logo img {
        height: 100px;
    }

    .contacto-mty {
        margin-top: 180px;
        margin-left: 40px;
    }

    .contacto-fondo{
        padding: 20px
    }

    .img-form {
        height: 100%;
        width: 25%;
    }

    .formulario{
        padding: 80px;
    }

    .formulario .row{
        margin-bottom: 60px;
    }

    .formulario p{
        font-size: 16px;
    }

    .form-control {
        font-size: 16px;
        border-radius: 0.55rem;
    }

    .formulario .btn-enviar input{
        width: 30%;
        font-size: 16px;
        height: 36px;
    }

    .float{
        font-size: 30px;
        width: 60px;
        height: 60px;
    }

    .my-float {
        margin-top: 16px;
    }


    .footer-links {
        padding: 30px 0;
    }

    .footer-links img {
        max-height: 70px;
    }

    .copyright-area{
        padding: 8px 0;
        font-size: 14px;
    }

}

/* Original - en pantalla */
@media (min-width: 1560px){

    .bg-light{
        padding: 8px 0;
    }
    
    .navbar-light .navbar-brand{
        padding-top: .3125rem;
        padding-bottom: .3125rem;
    }

    .navbar-brand img {
        max-height: 38.5px;
    }

    .navbar-toggler {
        padding: .25rem .75rem;
    }

    .navbar-light .navbar-nav .nav-link{
        font-size: 16px;
        padding: 8px;
    }

    .navbar-nav .dropdown .dropdown-menu {
        font-size: 16px;
    }

    svg{
        width: 18px;
        height: 18px;
    }

    .img-bg {
        background-position-y: -55px;
        /* height: 762px; */
        padding: 50px 0 30px 0;
    }

    .principal{
        width: 48%;
    }

    .info-cal img, .info-cal2 img, .info-cap img, .info-mant img, .info-venta img{
        height: 124px;
    }

    .info-cal h1 {
        margin-top: 3rem;
        font-size: 50px;
    }

    .info-cal2 h1, .info-cap h1, .info-mant h1, .info-venta h1{
        margin-top: 2rem;
        font-size: 42px;
    }

    .info-venta h1{
        margin-top: 2rem;
        font-size: 38px;
    }

    /* .info ul{
        padding-left: 1.5rem;
    } */

    .info-cal ul, .info-mant ul{
        font-size: 29px;
        margin-top: 15px
    }

    .info-cap ul{
        font-size: 28px;
        margin-top: 15px;
    }

    .info-cal2 ul {
        font-size: 26px;
    }

    .info-venta ul{
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .contacto-cal{
        margin-top: 36px;
    }

    .contacto-cal2{
        margin-top: 42px;
    }

    .contacto-cap, .contacto-cap2{
        margin-top: 20px;
    }

    .contacto-calp2 {
        margin-top: 20px;
    }

    .contacto-mant {
        margin-top: 55px;
    }

    .contacto-venta {
        margin-top: 12px;
    }

    .contacto-cal h4, .contacto-cal2 h4, .contacto-cap h4, .contacto-cap2 h4, .contacto-mant h4, .contacto-venta h4, .contacto-mty h4 {
        font-size: 26px;
    }

    .contacto-cal p, .contacto-cap p, .contacto-cap2 p, .contacto-mant p, .contacto-venta p, .contacto-mty p {
        font-size: 24px;
    }

    .contacto-cal2 p{
        font-size: 26px;
    }

    .contacto-cap2 .p-experiencia{
        font-size: 26px;
    }

    .magnitudes{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .titulo-mag{
        padding-left: 0px;
        width: 75%;
        padding-right: 12px;
    }

    .titulo-mag h1{
        font-size: 2.3rem;
        margin-left: 220px;
        margin-bottom: 8px;
    }

    .titulo-mag ul{
        font-size: 25px;
        margin-left: 284px;
    }

    .mag-img img{
        height: 120px;
        margin-right: 20px;
    }

    .mag-img .btn-enviar {
        margin: 20px 0;
    }

    /* .mag-img .btn-enviar{
        margin-left: 40px;
        text-align: center;
    } */

    /* .mag-img .btn-enviar input{
        height: 50px;
        font-size: 20px;
    } */

    #certificado{
        height: 50px;
        font-size: 20px;
        width: 70%;
    }

    .content-mag {
        margin-top: 20px;
    }

    .item-mag{
        width: 25%;
        margin-bottom: 20px;
    }

    .icono-mag {
        line-height: 65px;
    }
    
    .icon-gradient{
        width: 69px;
        height: 69px;
    }

    .item-mag .icono-chico {
        max-height: 38px;
    }

    .item-mag .icono-ancho {
        max-height: 35px;
    }

    .item-mag .icono-ancho2 {
        max-height: 28px;
    }

    .texto-mag {
        margin-top: 15px;
    }

    .texto-mag h3 {
        font-size: 28px;
    }

    .texto-mag p{
        font-size: 16px;
    }

    .mag-sub-ac{
        padding: 0 30px;
        margin-bottom: 0;
    }

    /* .item-mag {
        margin-bottom: 20px;
    } */

    .icon-sub{
        width: 30px;
        height: 30px;
    }

    .texto-sub {
        margin-left: 10px;
    }

    .texto-sub h5 {
        font-size: 20px;
    }

    .cursos-row .col-3{
        width: 25%;
    }

    .cursos-row .col-9{
        width: 75%;
    }

    .tipos-cursos{
        padding: 20px 180px;
    }

    .tipos-cursos h2{
        font-size: 32px;
        margin-bottom: 12px;
    }

    .tipos-cursos ul{
        font-size: 30px;
    }

    .cursos-col2{
        margin-top: 60px;
    }

    .cursos-marginb{
        margin-bottom: 20px;
    }

    .cursos-col h2{
        font-size: 32px;
    }

    .cursos-marginb2{
        margin-bottom: 40px;
    }

    .cursos-col2 .col-8{
        width: 66.6666666667%;
    }

    .cursos-col2 .col-4{
        width: 33.3333333333%;
    }

    .cursos-col h4{
        font-size: 24px;
    }

    .cursos-sec{
        margin-bottom: 30px;
    }

    .cursos-sec .titulo-sec{
        margin-bottom: 5px;
    }

    .cursos-sec .titulo-sec h3{
        font-size: 28px;
        margin-left: 15px;
    }

    .cursos-sec img, .vineta-acc img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    .cursos-sec .row .col1 {
        padding-left: 35px;
    }

    .cont-sec ul li {
        font-size: 24px;
        margin-bottom: 6px;
    }

    .mant-info{
        margin-top: 80px;
        margin-bottom: 80px;
        max-width: 1320px;
    }

    .texto h2 {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .texto p{
        font-size: 23px;
        margin-bottom: 16px;
    }

    /* .img-mty{
        background-position-y: -55px;
    } */

    .logo{
        margin-right: 50px;
    }

    .logo-fondo{
        padding: 15px;
        width: 530px;
    }

    .logo img {
        height: 124px;
    }

    .contacto-mty{
        margin-top: 230px;
        margin-left: 50px;
    }

    .contacto-fondo{
        padding: 25px
    }

    .img-form {
        height: 100%;
        width: 25%;
    }

    .formulario{
        padding: 100px 80px;
    }

    .formulario .row{
        margin-bottom: 85px;
    }

    .formulario p{
        font-size: 22px;
    }

    .form-control {
        font-size: 22px;
        border-radius: 0.75rem;
    }

    .formulario .btn-enviar input{
        width: 30%;
        font-size: 22px;
        height: 44px;
    }


    .float{
        font-size: 30px;
        width: 60px;
        height: 60px;
    }

    .my-float {
        margin-top: 16px;
    }

    .footer-links{
        padding: 50px 0;
    }


    .footer-links img {
        max-height: 90px;
    }

    .copyright-area {
        padding: 10px 0;
        font-size: 16px;
    }


}

/* @media (max-width: 576px) {
    .img-bg {
        background-position-y: -70px;
        background-position-x: -350px;
        padding: 20px 0 20px 0;
    }

    .img-bg:before {
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
    }

    .principal {
        width: 100%;
        margin-right: auto;
        position: relative;
    }

} */
