
body{
    background-color: #ecfbff;
}

/* #contenedor{
    box-shadow: 5px 5px 15px black;
} */

/* ================================ HEADER ================================  */
.navbar-brand img {
    max-width: 150px;
}

/* NAVBAR */
.bg-light {
    background-color: #003177!important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar>.container-fluid{
    justify-content: flex-end;
}

.nav-item{
    margin-left: 20px;
    /* font-family: 'Montserrat', sans-serif; */
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #003177;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fbc717;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #fbc717;
}

.dropdown-principal:focus, .dropdown-principal:hover {
    background-color: #003177;
}

.separar-letra{
    letter-spacing: 1px;
}

.dropdown-principal svg{
    vertical-align: text-top;
}

/* ================================ JUMBOTRON ================================ */
.jumbotron{
    color: white;
    padding: 70px 0 30px 0;
}

.img-bg {
    background-position-y: -70px;  /*gris*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.principal{
    width: 45%;
    margin-right: 0;
}

h1, h4, h3, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    /* font-size: 2.3rem; */
}

/* .jumbotron h1, .jumbotron h4{
    font-family: 'Montserrat', sans-serif;
} */

p, li{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.jumbotron h1{
    margin-top: 3rem;
    font-size: 50px;
}

.info ul{
    font-size: 30px;
}

.contacto{
    margin-top: 130px;
}

.contacto2{
    margin-top: 50px;
}

.contacto-item{
    display: flex;
    align-items: baseline;
}

.contacto h4, .contacto2 h4{
    color: #fbc717;
    font-size: 26px;
}

.contacto p, .contacto2 p{
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
}

/* ================================ JUMBOTRON END ================================ */

/* ================================ MAGNITUDES ================================ */
.magnitudes{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #003177;
    background-color: #ecfbff;
}

.titulo-mag h1{
    font-size: 2.3rem;
}

.magnitudes ul{
    text-align: initial;
    font-size: 20px;
}

.mag-img{
    display: contents;
}

.mag-img img{
    height: 80px;
    margin-left: 20px;
}

.content-mag{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.item-mag{
    margin-bottom: 20px;
}

.item-mag .icono-chico{
    max-height: 38px;
}

.item-mag .icono-ancho{
    max-height: 35px;
}

.item-mag .icono-ancho2{
    max-height: 28px;
}

.icon-gradient {
    position: relative;
    width: 69px;
    height: 69px;
    /* line-height: 75px; */
    border-radius: 50%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 28px; */
    z-index: 1;
}

.gradient-1 {
    /* background-image: linear-gradient(#6240c8 0%, #a145fe 100%); */
    background-color: #003177;
}

.icono-mag{
    line-height: 65px;
}

.texto-mag{
    margin-top: 15px;
}

.mag-sub{
    background-color: #0095d9;
}

.mag-sub-ac{
    display: flex;
    margin-top: 20px;
}

.icon-sub{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1;
}

.texto-sub{
    align-self: center;
    margin-left: 10px;
}

.texto-sub h5{
    margin-bottom: 0px;
}

/* #listaCalibracion{
    position: relative;
    left: 38%;
    text-align: left;
}

#contenedorLaboratorio{
    text-align: right;
}

#sectionCalibracion{
    background-color: #ecfbff;
    margin-top: 20px;
}
#circleExterno {
    width: 50px;
    height: 50px;
    background-color: #0095d9;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#circleInterno{
    width: 40px;
    height: 40px;
    background-color: #0095d9;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
} 
#itemTitulo{
    font-size: larger;
    font-weight: bold;
    color: #003177;
    text-align: center;
}
#ItemSubTitulo{
    position: relative;
    text-align: center;
}

#itemMag{
    padding: 25px;
}
*/

/* ================================ MAGNITUDES END ================================ */



#tablaCursos{
    width: 100%;
    font-size: 20px;

}
#titulosTablaCursos{
    font-size: larger !important ;
    font-weight: 700 !important;
    color: #092596 !important;
    height: 60px !important;
}
#tablaCursos tr td {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    color: #4487cd;
    font-weight: 400;
}
#sectionCursos{
    background-color: #0095d9;
    color: white;
    font-size: large;
    font-weight: 700;
    margin-top: -5px;
}
#tableCotizacionDeCurso{
    width: 100%;
}
#rowBotononesCotizacionDeCurso{
    text-align: center;
    margin-bottom: 15px;
}
#rowTableCotizacionDecurso{
    text-align: center;
}
#cotizacionDeCurso{
    background-color: #4b96da;
    height: 250px;
    padding: 15px;
}
#inputCotizaicon{
    background: none;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}
#inputCotizaiconM{
    background: none;
    border: none;
    border-bottom: 1px solid;
    width: 50%;
}
#inputCotizaiconP{
    background: none;
    border: none;
    border-bottom: 1px solid;
    width: 50%;
}
#SolicitarTemario{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #fbc717;
    font-size: large;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
    margin-top: 5px;
}
#solicitarCotizacion{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    font-size: large;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
}
#sectionCatalogosDeCursos{
    margin-top: 5px;
    margin-left: -5px;
    background: white;

}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0095d9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #003177;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

#sectionContacto{
    background: white;
    padding: 10px;
}
#TitutloMantenimiento{
    font-size: 30px;
    color: #0095d9;
    font-weight: 700;
}

#textoTituloMantenimiento{
    font-size: 20px;
}
#contactanos{
    height: 150px;
    background: white;
    width: 370px;
    position: relative;
    left: -100%;
    border-radius: 30px;
    color: #003177;
    padding: 10px;
    margin-top: 200px;
    padding-left: 20px;
}
#inputs{
    margin-top: 10px;
    margin-bottom: 10px;
}
#inputs2{
    margin-top: 10px;
}
#circuloMantenimiento{
    background-color: #003177;
    Width: 70px;
    align-items: center;
    position: relative;
    border-radius: 100%;
    height: 70px;
}

/* ================================ FOOTER ================================ */

.footer-links {
    padding: 50px 0;    
    background: white;
}

.footer-links img {
    max-height: 90px;
}

.copyright-area {
    background-color: #003177;
    padding: 10px 0;
    color: white;
}

.rowfooter{
    margin: 0;
}

.contfooter, .colfooter{
    padding: 0;
}

/* ================================ FOOTER END ================================ */